.container {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.body-container {
  background-color: #000000;
  color: #74a814;
  padding: 0 1.5rem; /* Só nas laterais agora */
}

.main-content {
  display: grid;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 70px;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .main-content {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    font-size: 1.25rem;
    line-height: 1.75rem;
    gap: 1.5rem;
  }
}

