@page "/"

<div class="container">
    <SearchBar/>

    <div>    
        <MainTitle Title="TieMention"/>
    </div>

    <div class="main-content">
        <BlockText Head="@HeadText" Text="@BodyText"/>
        @* <AnalogImage/> *@
    </div>  

</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);
        var startDate = DateOnly.FromDateTime(DateTime.Now);
    }

    private String HeadText = "Discover art through mentions tied in another art works with TieMention!";

    private String BodyText = "Dig deeper into art by discovering direct connections among over 1000 art works from Music, Movie, Paiting, Sculpture, Animation, Series and beyond. TieMention's verified content is built by a community of over 35 contributors. Make contributions to earn Cred - our very own points system. Join us now to add more knowledge and share it with the world!";
}