@* <div class="image-container">
    <div class="image-border outer"></div>
    <div class="image-border inner"></div>
    <img src="https://rollingstone.com.br/media/uploads/neo-matrix-warner-reprod.jpeg" class="main-image">
</div> *@

    <div class="main-container">
        <div class="image-container">
            <div class="image-border outer"></div>
            <div class="image-border inner"></div>
            <img src="https://rollingstone.com.br/media/uploads/neo-matrix-warner-reprod.jpeg" class="main-image">
        </div> 
        
        <!-- Botões agora estão FORA do container da imagem -->
        <div class="botao-container">
            <button class="botao-redondo">+</button>
            <button class="botao-redondo">-</button>
            <button class="botao-redondo">:</button>
        </div>
    </div>


