


  /* Image container styles */
    .image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        padding: 1rem;
    }

    @media (min-width: 768px) {
        .image-container {
            grid-column: span 5 / span 5;
            height: 600px;
            padding: 5rem;
        }
    }

    .image-border {
        position: absolute;
        border-width: 4px;
        border-color: #74a814;
        border-style: solid;
    }

    .image-border.outer {
        left: 1rem;
        width: calc(100% - 2rem);
        height: 100%;
    }

    @media (min-width: 768px) {
        .image-border.outer {
            left: 2.5rem;
            width: 700px;
        }
    }

    .image-border.inner {
        top: 0.5rem;
        width: calc(100% - 1rem);
        height: calc(100% - 1rem);
    }

    @media (min-width: 768px) {
        .image-border.inner {
            top: 0.9375rem;
            height: 570px;
        }
    }

    .main-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (min-width: 768px) {
        .main-image {
            width: 900px;
            height: 540px;
        }
    }
