
@media (min-width: 669px) {
    .image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 620px;
        height: 600px;
        padding: 3.5rem;
        height: 600px;
        padding: 3.5rem;

    }

    .image-border {
        position: absolute;
        border-width: 4px;
        border-color: #74a814;
        border-style: solid;
    }

    .image-border.outer {
        bottom: 50px;
        left: 2rem;
        width: 560px;
        height: 550px;
    }

    .image-border.inner {
        top: 1rem;
        height: 515px;
        width: 100%;
    }

    .main-image {
        bottom: 30px;
        padding-bottom: 50px;
        object-fit: cover;
        width: 950px;
        height: 520px;
    }


    .main-container {
        align-items: center;
        width: 775px;
        margin: 20px auto;
    }

}

.analog-button-container {
    display: flex;
    justify-content: right; 
    gap: 10px;
    margin-left: 20px; 
    position: relative;
    margin-top: -40px; 
    width: 560px;
}

.analog-button {
    width: 30px;
    height: 30px;
    /* border-radius: 50%; */
    background-color: #74a814;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.analog-button:hover {
    background-color: #5d8a0f;
    transform: scale(1.05);
}

.analog-button:active {
    transform: scale(0.95);
} 

@media (max-width: 668px) {
    .main-image {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    }
}
