@* <div class="image-container">
    <div class="image-border outer"></div>
    <div class="image-border inner"></div>
    <img src="https://rollingstone.com.br/media/uploads/neo-matrix-warner-reprod.jpeg" class="main-image">
</div> *@

    <div class="main-container">
        <div class="image-container">
            <div class="image-border outer"></div>
            <div class="image-border inner"></div>
            <img src="https://static1.colliderimages.com/wordpress/wp-content/uploads/2024/02/the-matrix-code-keanu-reeves.jpg" class="main-image">
        </div> 
        
        <div class="analog-button-container">
            <button class="analog-button">+</button>
            <button class="analog-button">-</button>
            <button class="analog-button">:</button>
            <button class="analog-button">:</button>
            <button class="analog-button">:</button>
        </div>
    </div>


