.btn-neon {
    background-color: transparent;
    color: #74a814;
    transition: all 0.3s ease-in-out;
}

.btn-neon:hover {
    background-color: #74a814;
    color: black;
}

.border-neon {
    border: 2px solid #74a814;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.neon-card {
    display: flex;
    border: 3px solid #74a814;
    padding: 1rem;
    background-color: black;
    transition: transform 0.2s;
}

.neon-card:hover {
    transform: scale(1.02);
}

.piece-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
}