<!-- Navbar -->
@* <div style="border-bottom: 2px solid #74a814;" > *@
    <div class="w-full mx-auto px-2.5 md:px-5 max-w-[120rem] text-[23px]" >
        <div class="flex justify-between items-center p-4" >
            <img src="logotm.png" class="w-[100px] h-[100px]">
            <div>Most Mentioneds</div>
            <div>Latest</div>
            <div>Categories</div>       
            <div>Contact</div>
            <div>About</div>
            <div style="background: #74a814; color: #000; padding: 9px">Account</div>
        </div>
    </div>
@* </div> *@