
    /* Text content styles */
    .text-content[b-yszrzuqw5z] {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        height: auto;
    }

    @media (min-width: 768px) {
        .text-content[b-yszrzuqw5z] {
            grid-column: span 7 / span 7;
            height: 600px;
            margin-right: 30px;
        }
    }

    .text-block[b-yszrzuqw5z] {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        align-items: flex-start;
    }

    .text-block:first-child[b-yszrzuqw5z] {
        margin-bottom: 70px;
    }

    .green-bar[b-yszrzuqw5z] {
        grid-column: span 2 / span 2;
        height: 90px;
        width: 100px;
        background-color: #74a814;
    }

    .green-bar.tall[b-yszrzuqw5z] {
        height: 430px;
    }

    .text-section[b-yszrzuqw5z] {
        grid-column: span 10 / span 10;
        max-height: 90px;
        overflow: auto;
        text-align: left;
        margin-left: -1rem;
    }

    .text-section.tall[b-yszrzuqw5z] {
        max-height: 430px;
    }

    @media (min-width: 768px) {
        .text-section[b-yszrzuqw5z] {
            text-align: justify;
        }
    }
