.main-footer[b-a5ewijqhed] {
    position: relative;
    background-color: #000;
    color: #74a814;
    padding: 30px 20px;
    text-align: center;
    margin-top: 40px;
    border-top: 2px solid #74a814; /* Linha separadora */
}

.footer-content[b-a5ewijqhed] {
    max-width: 1200px;
    margin: auto;
}

.main-footer p[b-a5ewijqhed] {
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 14px;
}

.social-icons a[b-a5ewijqhed] {
    margin: 0 10px;
    font-size: 24px;
    color: #74a814;
    transition: color 0.3s ease;
}

.social-icons a:hover[b-a5ewijqhed] {
    color: #74a814;
}

