
/* Mentions section styles */
.mentions-section[b-hzx8k5863n] {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .mentions-section[b-hzx8k5863n] {
        margin-top: 80px;
    }
}

.mentions-title[b-hzx8k5863n] {
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
}

@media (min-width: 768px) {
    .mentions-title[b-hzx8k5863n] {
        font-size: 3.125rem;
    }
}

.mentions-subtitle[b-hzx8k5863n] {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.25rem;
}

@media (min-width: 768px) {
    .mentions-subtitle[b-hzx8k5863n] {
        font-size: 2.5rem;
    }
}