    /* Search bar styles */
    .search-container[b-kgcnc4vriq] {
        border-width: 4px;
        border-color: #74a814;
        padding: 1rem;
        margin-top: 1rem;
    }

    @media (min-width: 768px) {
        .search-container[b-kgcnc4vriq] {
            margin-top: 60px;
        }
    }

    .search-input[b-kgcnc4vriq] {
        background-color: black;
        color: #74a814;
        outline: none;
        width: 100%;
    }

    .search-input[b-kgcnc4vriq]::placeholder { 
        color: #74a814;
        opacity: 50%;
    }

    @media (min-width: 768px) {
        .search-input[b-kgcnc4vriq] {
            width: auto;
        }
    }